doctype html
html
  include inc/header

  body
  .navbar.navbar-default.navbar-static-top(role='navigation')
      .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/home') WorkOne&nbsp;
                //img.img-circle.logo(src='../images/favicon.png', title='WorkOne')
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              - var obj = { 'home':'主页', 'about':'关于' }
                - each val, key in obj
                  - if (id == key)
                    li.active
                      a(href='/#{key}') #{val}
                  - else            
                    li
                      a(href='/#{key}') #{val}
            ul.nav.navbar-nav.navbar-right
              if (user && user.length)
                  - var obj = { 'user': user, 'logout':'注销' }
                      - each val, key in obj
                          - if (id == key)
                              li.active
                                  a(href='/#{key}') #{val}
                          - else
                              li
                                  a(href='/#{key}') #{val}
              else
                - var obj = { 'login':'登录', 'register':'注册' }
                  - each val, key in obj
                      - if (id == key)
                          li.active
                              a(href='/#{key}') #{val}
                      - else
                          li
                              a(href='/#{key}') #{val}
    div.container
        block content


  
  include inc/footer
