//
   Created by Dibel on 2014/5/22.
extends layout
//以下为变量
block content
    div.page-header
        h1= title
            small 协作
    div.container
            .row.clearfix
                .col-md-2.column
                    h2.hidden test
                    ul.nav.nav-pills.nav-stacked
                        li.nav-header.disabled
                           h3 我的小组&项目
                             //- if(typeof(team) !== 'undefined')
                        -if (teams != null)
                         -each team in teams
                          li.active
                           a(href='/team/'+'#{team.teamid}')= team.name
                          -each project in team.projects
                           li
                            a(href='/project/'+'#{project.projectid}')= project.name
                .col-md-6.column
                    h3 我的任务
                    .panel-group
                      -if(tasks != null)
                       -each task in tasks
                        -if (task.remainday < 0)
                          .panel.panel-danger
                             .panel-heading
                                 a.panel-title(href='/task/'+'#{task.taskid}')=task.name
                                 | &nbsp;&nbsp;截止日期:
                                 -if (task.endday != "Invalid date")
                                     =task.endday
                                 -else
                                     | 无期限
                                 | &nbsp;&nbsp;剩余时间：
                                 =task.remainday
                             .panel-collapse.collapse.in
                                 .panel-body
                                     =task.des
                        -else
                          .panel.panel-info
                            .panel-heading
                                a.panel-title(href='/task/'+'#{task.taskid}')=task.name
                                | &nbsp;&nbsp;截止日期:
                                -if (task.endday != "Invalid date")
                                    =task.endday
                                -else
                                    | 无期限
                                | &nbsp;&nbsp;剩余时间：
                                =task.remainday
                            .panel-collapse.collapse.in
                                .panel-body
                                    =task.des
                        //.panel.panel-default
                            .panel-heading
                                a.panel-title(data-toggle='collapse', data-parent='#panel-812500', href='#panel-element-758966') Collapsible Group Item #2
                            #panel-element-758966.panel-collapse.collapse
                                .panel-body
                                    | Anim pariatur cliche...
                .col-md-4.column