//
   Created by Dibel on 2014/5/22.
extends layout
//以下为变量
block content
    div.page-header
        h1= title
            small 协作
    div.container
            .row.clearfix
                .col-md-2.column
                    h2.hidden test
                    ul.nav.nav-pills.nav-stacked
                        li.nav-header.disabled
                           h3 我的小组&项目
                             //- if(typeof(team) !== 'undefined')
                        -if (teams != null)
                         -each team in teams
                          li.active
                           a(href='/team/'+'#{team.teamid}')= team.name
                          -each project in team.projects
                           li
                            a(href='/project/'+'#{project.projectid}')= project.name
                .col-md-8.column
                    h3 未完成的任务
                    .panel-group
                      -if(tasks != null)
                       -each task in tasks
                        -if (task.remainday < 0)
                          .panel.panel-danger
                             .panel-heading
                                 a.panel-title(href='/task/'+'#{task.taskid}')=task.name
                                 | &nbsp;&nbsp;截止日期:
                                 -if (task.endday != "Invalid date")
                                     =task.endday
                                 -else
                                     | 无期限
                                 | &nbsp;&nbsp;剩余天数：
                                 =task.remainday
                             .panel-collapse.collapse.in
                                 .panel-body
                                     .col-md-10
                                        =task.des
                                     .col-md-2
                                         form(id='completetask'+task.taskid, hidden='true', method='get')
                                             input.form-control(type='text', hidden='true', id="taskid", name="taskid", value=task.taskid)
                                         button.btn.btn-success(type='button', id='complete', href='#', name=task.taskid) 完成
                        -else
                          .panel.panel-info
                            .panel-heading
                                a.panel-title(href='/task/'+'#{task.taskid}')=task.name
                                | &nbsp;&nbsp;截止日期:
                                -if (task.endday != "Invalid date")
                                    =task.endday
                                -else
                                    | 无期限
                                | &nbsp;&nbsp;剩余天数：
                                =task.remainday
                            .panel-collapse.collapse.in
                                .panel-body
                                    .col-md-10
                                        =task.des
                                    .col-md-2
                                        form(id='completetask'+task.taskid, hidden='true', method='get')
                                            input.form-control(type='text', hidden='true', id="taskid", name="taskid", value=task.taskid)
                                        button.btn.btn-success(type='button', id='complete', href='#', name=task.taskid) 完成
                    script.
                        $("[href='#']").each(function() {
                            $(this).bind("click",function(e){
                                e.preventDefault();
                                var id=$(this).attr('name');
                                var taskform='#completetask'+id.toString();
                                $(taskform).submit();
                            });
                        });
                .col-md-4.column